footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.selecteditem {
    font-weight: bold;
}

#navs ul {
    list-style-type: none;
    bottom: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 50px;
    border-bottom: solid thick;
    border-bottom-color: black;
    border-top: solid thick;
    border-top-color: black;
}

#navs li {
    font-size: large;
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
}

#navs a:link, a:visited {
    content: disc;
    display: block;
    width: 120px;
    font-size: x-large;
    color: black;
    text-align: center;
    padding: 4px 30px;
    text-decoration: none;
    text-transform: uppercase;
}

#navs a:hover, a:active, a.active {
    font-weight: bold;
}

#navs .activeitem {
    font-weight: bold;
}
