<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-8">
                <h1>COMMUNITY</h1>
                <h2>
                    <small>
                        I <strong>LOVE</strong> to volunteer! I am very civic-minded and enjoy helping others.
                        I have been very fortunate in life and love the chance to help someone else gain some needed help or encouragement in their own life.
                        Two of the organizations I am most passionate about are the Junior League of Louisville and Boys and Girls Haven of Louisville.
                        I am very involved with projects, fundraisers, committees, and event planning for both of these organizations.
                        I have been a member of Junior League of Louisville since January 2013 and a member of the Boys and Girls Haven Advisory Board since fall 2014.
                    </small>
                </h2>
                <br />
                <h2>Junior League of Louisville</h2>
                <h2><small>The Junior League of Louisville (JLL) is an organization of women committed to promoting voluntarism, to developing the potential of women, and to improving the community through the effective action and leadership of trained volunteers. Its purpose is exclusively educational and charitable. JLL reaches out to women of all races, religions, and national origins who have an interest in and commitment to voluntarism.</small></h2>
                <br />
                <h2>Boys and Girls Haven of Louisville</h2>
                <h2><small>Since 1950, Boys & Girls Haven has transformed the lives of more than 3,500 abandoned, abused and neglected children. More than just a home, we provide stability, education, and new, productive skills that will lead to success in adulthood. In a time where more and more children find themselves growing up without the support of a loving family, Boys & Girls Haven is here to provide a home and a future filled with promise.</small></h2>
            </div>
            <div class="col-sm-4 verticalcenter">
                <a href="http://www.juniorleaguelouisville.org/" class="btn btn-primary outline btn-block" target="_blank">More about Junior League</a>
                <br />
                <br />
                <br />
                <a href="http://www.boyshaven.org/" class="btn btn-primary outline btn-block" target="_blank">More about Boys and Girls Haven</a>
            </div>
        </div>
    </div>
</div>

