<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-8">
                <br />
                <h1>ABOUT</h1>
                <h2><small>Hello! My name is Alison Vogel.</small></h2>
                <h2>
                    <small>
                        I studied Computer Science at Transylvania University in Lexington, KY and graduated in 2012. I now live in Louisville, KY and am currently working as a Quality Assurance Analyst for ZirMed. I do both manual and automated software testing. My favorite part of my job is writing automated web and integration tests. I enjoy reading, traveling and volunteering in my spare time. I do not like to be bored and am constantly searching for things new and challenging to me both personally and professionally.
                    </small>
                </h2>
            </div>
            <div class="col-sm-4">
                <img src="~/Files/ProfileImage.jpg" class="img-thumbnail" />
            </div>
        </div>
    </div>
</div>

