<div class="container">
    <div class="center">
        <a href='@Url.Action("ViewResume", "Resume")' class="btn btn-primary outline" role="button">Download Resume</a>
    </div>
    <br />
    <br />
    <div>
        <h1 class="selecteditem">RESUME</h1>
        <br />
        <h3>EDUCATION</h3>
        <hr />
        <h4>
            Bachelor of Arts in Computer Science - 
            Transylvania University, Lexington, KY
        </h4>
        <br />
        <h3>SKILLS</h3>
        <hr />
        <ul><li>C#, Selenium WebDriver, SQL, TFS, Visual Studio, Automated Testing</li></ul>
        <br />
        <h3>WORK EXPERIENCE</h3>
        <hr />
        <h4>ZirMed</h4>
        <h4>QA Analyst Advanced – (June 2013 – Present)</h4>
        <ul>
            <li>Create and execute test cases to ensure proper implementation of new features</li>
            <li>Regularly perform regression and functional testing</li>
            <li>Effectively record, communicate and verify resolution of defects to developers, development manager, and other necessary parties</li>
            <li>Utilize C# and Selenium WebDriver to write, monitor, and maintain automated tests that verify product functionality</li>
            <li>Assist peers in learning to write and understand C# so that they can create new as well as maintain their existing automated tests</li>
        </ul>
        <br />
        <h4>The Rawlings Company</h4>
        <h4>QA Analyst - (May 2012 – May 2013)</h4>
        <ul>
            <li>Responsible for developing and implementing test scripts to ensure company software meets functional requirements</li>
            <li>Frequently utilize SQL queries to manipulate testing data and to validate test cases</li>
            <li>Effectively track and communicate software defects to software developers and project management</li>
            <li>Responsible for coordinating with business owners and product users to execute user acceptance testing and production deployment of new software</li>
        </ul>
        <br />
        <h4>Brown-Forman</h4>
        <h4>Information Technology Intern - (Summer 2011)</h4>
        <ul>
            <li>Aided department in moving information to the Salesforce.com platform</li>
            <li>Constructed training documents on how to use Salesforce.com and Brown-Forman’s custom Salesforce.com application</li>
            <li>Developed test scripts for the testing of a custom Salesforce.com application</li>
            <li>Tested several versions of custom Salesforce.com application for defects before company-wide release; documented and communicated errors to project managers and project consultant</li>
        </ul>
        <br />
        <h3>COMMUNITY INVOLVEMENT</h3>
        <hr />
        <ul>
            <li>Member, Junior League of Louisville - (January 2013 – Present)</li>
            <li>Member, Advisory Board – Boy’s and Girl’s Haven of Louisville – (October 2014 – Present)</li>
        </ul>
    </div>
</div>

