<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/alisonStyle.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-70100090-1', 'auto');
        ga('send', 'pageview');
    </script>
    <meta name="viewport" content="width=device-width" />
    <title>Resume</title>
</head>
<body>
    <div>
        <div>
            <div class="container" style="text-align: center;">
                <a href='@Url.Action("ViewResume", "Resume")' class="btn btn-primary outline" role="button">Download Resume</a>
            </div>
            <br />
            <br />
            <div class="container">
                <h1>RESUME</h1>
                <br />
                <h3>EDUCATION</h3>
                <hr />
                <h3>
                    <small>
                        Bachelor of Arts in Computer Science - May 2012
                        Transylvania University, Lexington, KY
                    </small>
                </h3>
                <br />
                <h3>SKILLS</h3>
                <hr />
                <h3><small>&bull; C#, Selenium WebDriver, SQL, TFS, Visual Studio, Automated Testing</small></h3>
                <br />
                <h3>WORK EXPERIENCE</h3>
                <hr />
                <h4>ZirMed</h4>
                <h3><small>QA Analyst Advanced – (June 2013 – Present)</small></h3>
                <h3><small>&bull; Create and execute test cases to ensure proper implementation of new features</small></h3>
                <h3><small>&bull; Regularly perform regression and functional testing</small></h3>
                <h3><small>&bull; Effectively record, communicate and verify resolution of defects to developers, development manager, and other necessary parties</small></h3>
                <h3><small>&bull; Utilize C# and Selenium WebDriver to write, monitor, and maintain automated tests that verify product functionality</small></h3>
                <h3><small>&bull; Assist peers in learning to write and understand C# so that they can create new as well as maintain their existing automated tests</small></h3>
                <br />
                <h4>The Rawlings Company</h4>
                <h3><small>QA Analyst - (May 2012 – May 2013)</small></h3>
                <h3><small>&bull; Responsible for developing and implementing test scripts to ensure company software meets functional requirements</small></h3>
                <h3><small>&bull; Frequently utilize SQL queries to manipulate testing data and to validate test cases</small></h3>
                <h3><small>&bull; Effectively track and communicate software defects to software developers and project management</small></h3>
                <h3><small>&bull; Responsible for coordinating with business owners and product users to execute user acceptance testing and production deployment of new software</small></h3>
                <br />
                <h4>Brown-Forman</h4>
                <h3><small>Information Technology Intern - (Summer 2011)</small></h3>
                <h3><small>&bull; Aided department in moving information to the Salesforce.com platform</small></h3>
                <h3><small>&bull; Constructed training documents on how to use Salesforce.com and Brown-Forman’s custom Salesforce.com application</small></h3>
                <h3><small>&bull; Developed test scripts for the testing of a custom Salesforce.com application</small></h3>
                <h3><small>&bull; Tested several versions of custom Salesforce.com application for defects before company-wide release; documented and communicated errors to project managers and project consultant</small></h3>
                <br />
                <h3>COMMUNITY INVOLVEMENT</h3>
                <hr />
                <h3><small>&bull; Member, Junior League of Louisville - (January 2013 – Present)</small></h3>
                <h3><small>&bull; Member, Advisory Board – Boy’s and Girl’s Haven of Louisville – (October 2014 – Present)</small></h3>
            </div>
        </div>
    </div>
</body>
</html>
