<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="~/Content/alisonStyle.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Html.Partial("_GoogleAnalytics")
</head>
<body>
    <header>
        @Html.Partial("NavBar")
        <img src="~/Files/Optimized-SiteImage_V2.png" class="img-responsive hidden-xs">
        <img src="~/Files/SiteImage_SmallScreen.png" class="img-responsive visible-xs">
    </header>
    <br />
    <br />
    <div>
        @RenderBody()
    </div>
    <br />
    <footer class="footer">
        <div id="navs" class="text-muted center">
            <ul>
                <li><a href="https://www.facebook.com/alison.ridgway.7" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                <li><a href="https://www.linkedin.com/in/alison-vogel-ba03b335" target="_blank"><i class="fa fa-linkedin-square"></i> </a></li>
                <li><a href="https://www.instagram.com/alison_vogel/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>

