@model System.Web.Mvc.HandleErrorInfo
    <!DOCTYPE html>
    <html>
    <head>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
        <link href="~/Content/alisonStyle.min.css" rel="stylesheet" />
        <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

        <meta name="viewport" content="width=device-width" />
        <title>Range Error</title>
    </head>
    <body>
        <div class="container" style="text-align:center;">
            <br />
            <br />
            <h2>Sorry....something went wrong.</h2>
            <br />
            <br />
            <div>
                <a href='@Url.Action("Index", "Home")' class="btn btn-primary outline" role="button">Back to Home Page</a>
            </div>
            <br />
            <br />
        </div>
    </body>
</html>
