
    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
        <link href="~/Content/alisonStyle.css" rel="stylesheet" />
        <link href="~/Content/font-awesome.css" rel="stylesheet" />
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-70100090-1', 'auto');
            ga('send', 'pageview');

        </script>
        <meta name="viewport" content="width=device-width" />
        <title>Range Error</title>
    </head>
    <body>
        <div class="container" style="text-align:center;">
            <br />
            <br />
            <h2>Sorry....something went wrong.</h2>
            <br />
            <br />
            <div>
                <a href='@Url.Action("Index", "Home")' class="btn btn-primary outline" role="button">Back to Home Page</a>
            </div>
            <br />
            <br />
        </div>
    </body>
</html>
