<div id="navs" style="text-align: center; font-size: medium;">
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "Index", "About")</li>
        <li>@Html.ActionLink("Resume", "Index", "Resume")</li>
        <li>@Html.ActionLink("Community", "Index", "Community")</li>
    </ul>
</div>
